<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AccuraSDK.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>A0AEE33BEAECBE876E961E4E65C1DA34A43ADB00</string>
				<key>dateExpires</key>
				<string>06/01/21</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A0AEE33BEAECBE876E961E4E65C1DA34A43ADB00</string>
						<key>dateExpires</key>
						<string>06/01/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>AFNetworking.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JA79VPTEAU</string>
						<key>name</key>
						<string>Chirag Desai</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A0AEE33BEAECBE876E961E4E65C1DA34A43ADB00</string>
						<key>dateExpires</key>
						<string>06/01/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JA79VPTEAU</string>
						<key>name</key>
						<string>Chirag Desai</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A0AEE33BEAECBE876E961E4E65C1DA34A43ADB00</string>
						<key>dateExpires</key>
						<string>06/01/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JA79VPTEAU</string>
						<key>name</key>
						<string>Chirag Desai</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A0AEE33BEAECBE876E961E4E65C1DA34A43ADB00</string>
						<key>dateExpires</key>
						<string>06/01/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JA79VPTEAU</string>
						<key>name</key>
						<string>Chirag Desai</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A0AEE33BEAECBE876E961E4E65C1DA34A43ADB00</string>
						<key>dateExpires</key>
						<string>06/01/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SVProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JA79VPTEAU</string>
						<key>name</key>
						<string>Chirag Desai</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A0AEE33BEAECBE876E961E4E65C1DA34A43ADB00</string>
						<key>dateExpires</key>
						<string>06/01/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JA79VPTEAU</string>
						<key>name</key>
						<string>Chirag Desai</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A0AEE33BEAECBE876E961E4E65C1DA34A43ADB00</string>
						<key>dateExpires</key>
						<string>06/01/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>ZoomAuthenticationHybrid.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JA79VPTEAU</string>
						<key>name</key>
						<string>Chirag Desai</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>JA79VPTEAU.com.accurascan.accuraemirates</string>
				<key>com.apple.developer.team-identifier</key>
				<string>JA79VPTEAU</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>JA79VPTEAU.com.accurascan.accuraemirates</string>
				</array>
			</dict>
			<key>name</key>
			<string>AccuraEmirates.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>2db6b1bd-4a58-44b1-996f-c66cf7738a80</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>JA79VPTEAU</string>
				<key>name</key>
				<string>Chirag Desai</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
